body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding:25px;
}
a{

    color: rgb(247, 162, 5);
    text-decoration: none;
}

img {
    margin: 90px;
    width: 150px;
    height: 150px;
    border-radius: 70%;
    border: 15px solid #dadd0f;
}

.center {
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}

div{
    color: rgb(224, 233, 233);
    text-align: center;
    margin-left:auto;

}
p{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);   
}


  .menu {
    background-color: #ffffff;
    overflow: hidden;
  }
  .menu a {
    color: rgb(21, 9, 187);
    padding: 14px 25px;
    text-decoration: none;
    float: left;
  }
  .menu a:hover {
    background-color: #dadd0f;;
  }